@import 'elements.less';

@main_color: #2a7b39;
@secondary_color: #9ac36d;
@search_color: #2f723b;
@yellow: #ffde5a;

body{
  background: #FFF;
}
select.mobilemenu {
  display: none;
}


.wrapper {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;

}

header.header_top {
  background: #2c813c url(images/mask.png) 0 0;

  .main-line {
    background: @main_color url(images/circle.png) no-repeat top center;


    .top_line {
      min-height: 115px;
      display: flex;
      align-items: center;
      align-content: space-between;
    }

    .top_item {
      width: 100%;

      &.logo_box {
        text-align: center;
      }

      &.phone_box {
        line-height: 18px;

        .label_for_phone {
          display: block;
          color:@secondary_color;
          font-size:12px;
        }
        .phone_number {
          color:#FFF;
          font-size: 18px;
          font-weight: 700;

          a {
            color: inherit;
          }

        }
      }

      &.search_box {
        text-align: right;

        form.search {

          fieldset.form_container {
            background: @search_color;
            display: inline-block;
            .rounded(20px);
            padding: 0 17px;
            border-bottom: 1px solid #3f8946;

            #searchsubmit {
              display: inline-block;
              font: normal normal normal 14px/1 FontAwesome;
              font-size: inherit;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              color:@secondary_color;
            }

            .searchinput {
              background: transparent;
              border: none;
              color:@secondary_color;
            }
          }


        }
      }
    }
  }

  .main_navigation {
    min-height: 60px;
    background-color: #95c263;
    color:#FFF;
    -webkit-box-shadow: 0 10px 15px -5px rgba(0,0,0,0.35);
    -moz-box-shadow: 0 10px 15px -5px rgba(0,0,0,0.35);
    box-shadow: 0 10px 15px -5px rgba(0,0,0,0.35);
    z-index: 9999;
    margin-bottom: 23px;

    .header_nav {

      a {
        color:inherit;
      }

      ul.menu-header {
        display: block;
        text-align: center;
        font-size:0;

        li {
          //float:left;
          display: inline-block;
          font-size:14px;
          letter-spacing: 0.12em;
          text-transform: uppercase;
          font-weight: 700;
          line-height: 60px;
          border-right:1px solid rgba(0,0,0,0.05);

          a {
            padding: 0 30px;
            display: block;
          }

          &:first-child {
            border-left:1px solid rgba(0,0,0,0.05);
          }

          &.current-menu-item a, a:hover{
            color: @yellow;
            background: rgba(0,0,0,0.05);
            background: -moz-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(231,56,39,0) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.05)), color-stop(100%, rgba(231,56,39,0)));
            background: -webkit-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(231,56,39,0) 100%);
            background: -o-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(231,56,39,0) 100%);
            background: -ms-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(231,56,39,0) 100%);
            background: linear-gradient(to bottom, rgba(0,0,0,0.05) 0%, rgba(231,56,39,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#e73827', GradientType=0 );
          }
        }
      }
    }
  }
}


.breadcrumbs_section {
  background: #2c813c url(images/mask.png) 0 0;

  .breadcrumbs_line {
    min-height: 40px;
    width: 100%;
    display: flex;
    align-content: space-between;
    align-items: center;

    .left_line_bread,.right_line_bread {
      height: 1px;
      background-color: rgba(255,255,255,0.15);
      display: block;
      //width: 100%;
      flex-grow: 1;
    }
    .breadcrumbs {
      display: inline-block;
      padding: 0 60px;
      font-size: 12px;
      color:@secondary_color;

      a {
        color:@secondary_color;
        .transition(all 300ms ease-in-out);

        &:hover {
          .transition(all 300ms ease-in-out);
          .opacity(0.7);
        }
      }

      .delimiter {
        padding: 0 13px;
        color:@yellow;
      }
    }
  }
}


footer.theme_footer {
  background-color: #ededed;
  padding: 70px 0;

  .footer {
    width: 94%;
    background: #FFF;
    max-width: 1600px;
    margin: 0 auto;
    min-height: 300px;
    .rounded(10px);
    -webkit-box-shadow: 0px 7px 35px -2px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 7px 35px -2px rgba(0,0,0,0.17);
    box-shadow: 0px 7px 35px -2px rgba(0,0,0,0.17);

    .top_footer {
      border-bottom: 1px solid #e5e5e5;
      .social_container {
        min-height: 90px;
        display: flex;
        align-content: space-between;
        align-items: center;


        .social_profiles {
          text-transform: uppercase;
          font-size:14px;
          color:#2e3830;
          font-weight: 700;
          width: 100%;

          a {
            color:inherit;
            .transition(all 300ms ease-in-out);
            margin-right: 30px;

            &:hover {
              .transition(all 300ms ease-in-out);
              color:@main_color;

              &.you {
                color:#f14f4f
              }
              &.twi {
                color:#00aced;
              }
            }
          }
        }
        .social_share {
          width: 100%;
          text-align: right;
        }
      }
    }
    .bottom_footer {
      color: #898989;
      font-size: 12px;
      line-height: 18px;

      p {
        color:inherit;
        line-height: 18px;
      }

      .contacts_footer_box {
        min-height: 200px;
        display: flex;
        align-items: center;
        align-content: space-between;

        .footer_logo {
          width: 33.33%;
        }
        .footer_info {
          width: 66.666%;
          display: flex;
          align-items: center;
          align-content: space-between;
          text-align: right;

          .item_contacts {
            width: 30%;
            min-height: 75px;
            border-right:1px solid #e7e7e7;
            padding-right: 35px;
            box-sizing: border-box;

            .contacts_label {
              color:#434343;
              text-transform: uppercase;
              font-size:14px;
              font-weight: 700;
              margin-bottom: 20px;
              line-height: 14px;
              display: block;
            }
            .footer_phone {
              font-size: 18px;

            }
            .footer_email {

              a {
                color:inherit;
                .transition(all 300ms ease-in-out);

                &:hover {
                  .opacity(0.7);
                  .transition(all 300ms ease-in-out);
                }
              }
            }
          }
          .item_address {
            width: 30%;
            min-height: 75px;
            border-right:1px solid #e7e7e7;
            padding-right: 35px;
            padding-left: 30px;
            box-sizing: border-box;

            .address_label {
              color:#434343;
              text-transform: uppercase;
              font-size:14px;
              font-weight: 700;
              margin-bottom: 20px;
              line-height: 14px;
              display: block;
            }
          }
          .item_copyrights {
            width: 40%;
            min-height: 75px;
            padding-left: 40px;
            box-sizing: border-box;
          }
        }
      }


    }
  }
}

/* Blog Single Styles */
.site_container {

  .page_heading {
    width: 100%;
    min-height: 85px;
    background: #2c813c url(images/mask.png) 0 0;
    text-align: center;

    h2.page_title {
      letter-spacing: 0.3em;
      font-size: 43px;
      color:@yellow;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 60px;
      margin: 0;
    }
  }

  .single_post{

    .post_image {
      max-width: 1380px;
      margin: 0 auto;
      width: 94%;
      background: #333;
      text-align: center;


      img {
        max-width: 100%;
        height: auto;
      }
    }

    .post_title_section {
      background: #ededed;
      padding: 70px 130px;
      margin-top: -80px;
      .rounded-corners(2px, 2px, 0px, 0px);
      position: relative;
      text-align: center;

      &.no_thumb {
        margin-top: 0;
      }

      .post_info {
        display: flex;
        //align-items: center;
        align-content: center;
        justify-content:center;
        margin-bottom: 50px;

        .post_category,.post_comments_count, .post_date {
          padding: 0 14px;
          font-size: 11px;
          color:#898989;
          line-height: 20px;

          &.post_date {
            //min-width: 100px;
            text-align: left;
          }

          &.post_comments_count {
            border-left:1px solid #e0e0e0;
            border-right:1px solid #e0e0e0;
            height: 20px;
          }

          &.post_category {
            a {
              background: #aac07e;
              display: inline-block;
              margin-bottom: 3px;
              padding: 0 7px;
              .rounded(2px);
              color:#FFF;
              font-weight: 700;
              font-size: 11px;
              .transition(all 300ms ease-in-out);

              &:hover {
                background-color:#000;
                .transition(all 300ms ease-in-out);
              }
            }
          }

          i.fa {
            color:#c2c2c2;
            font-size: 15px;
            margin-right: 5px;
          }
        }
      }

      h3.post_title {
        font-size: 54px;
        color:#000000;
        line-height: 64px;
        text-transform: uppercase;
        margin-bottom: 35px;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
      }
      span.sub_title {
        font-size: 12px;
        color:#898989;
        padding: 0 20%;
        display: block;
      }
    }

    .post_content_section {
      background: #f6f6f6;
      padding: 80px 130px;
      font-size: 13px;
      line-height: 24px;

      a {
        color:@main_color;
        text-decoration: underline;
      }

      img {
        max-width: 100%;
        height: auto;
      }

      iframe {
        max-width: 100%;
      }



      code {
        background: #FFF;
        display: block;
        overflow: auto;
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
      }



      p {
        font-size: 13px;
        line-height: 24px;
        color:#555555;

      }

      blockquote {
        font-size: 18px;
        line-height: 26px;
        color:#555555;
        position: relative;
        margin: 45px 45px 45px 0;
        display: inline-block;

        p {
          font-size: 18px;
          line-height: 26px;
          color:#555555;

          &:last-child {
            margin-bottom: 0;
          }
        }

        &::before {
          content: "\f10d";
          position: absolute;
          top:0;
          left:0;
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          margin-top: -10px;
          margin-left: -20px;
          color:#e5e5e5;
        }
      }
    }
  }
}
.comments-protected {
  margin:  0 130px;
}
.post-password-form {
  p {
    //text-align: center;
  }
  input[type="password"] {
    margin: 20px 0;
  }

  input[type="submit"] {
    //width: 100%;
    height: 60px;
    background: #ffde5a;
    color: #36624d;
    font-size: 18px;
    letter-spacing: 0.58em;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 0 20px;
  }
}

.comments_section {
  background: #f6f6f6;
  margin-bottom: 65px;

  .comments_container {
    padding-bottom: 20px;

    .leave-a-comment {
      margin-bottom: 30px;
    }

    > .comments_title {
      width: 100%;
      background: #ececec;
      height: 77px;
      margin-bottom: 60px;

      h3 {
        font-size: 24px;
        color:#000;
        font-weight: 700;
        line-height: 77px;
        margin: 0 130px;
      }
    }
    > .comment,.pingback {
      margin: 0 130px;
      margin-bottom: 30px;

      .comment,.pingback {
        margin: 30px 0 0 50px;
      }



      .comment-box {
        //text-align: right;

        .info-meta {
          display: flex;
          justify-content: space-between;

          span.author {
            float:left;
            font-size: 14px;
            color:#000;
            font-weight: 700;
            line-height: 24px;
            text-transform: uppercase;
          }
          .comment_date {
            font-size: 10px;
            color:#939393;
            line-height: 16px;
            text-transform: uppercase;
            margin-right: 15px;
            padding-right: 15px;
            border-right:1px solid #ececec;
            height: 16px;
          }
          .reply-link {
            color:#a0a0a0;
            text-transform: uppercase;
            font-weight: 700;

            a {
              color:inherit;
              .transition(all 300ms ease-in-out);

              &:hover {
                .opacity(0.7);
                .transition(all 300ms ease-in-out);
              }
            }
          }
        }

        .info-content {
          //display: inline-block;
          background: #ececec;
          padding: 25px 20px;
          .rounded(20px);
          margin-top: 15px;
          position: relative;
          box-sizing: border-box;
          max-width: 100%;
          text-align: left;

          a {
            color:@main_color;
          }


          &::before {
            content:"";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 7.5px 0 7.5px 15px;
            border-color: transparent transparent transparent #ececec;
            position: absolute;
            top:0;
            left:0;
            margin-left: 20px;
            margin-top: -7.5px;
          }

          p {
            display: inline-block;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  .leave-a-comment {
    background: #1e6b2d;

    #cancel-comment-reply-link {
      font-size: 12px;
      color:#FFF;
    }

    .form_comment_box {
      margin: 0 130px;

      .loginforcomment {
        color:#FFF;

        a {
          color:inherit;
          .transition(all 300ms ease-in-out);

          &:hover {
            .opacity(0.7);
            .transition(all 300ms ease-in-out);
          }
        }
      }

      .comments_name {
        display: flex;
        align-content: space-between;
        align-items: center;
        height: 100px;

        .comments_title,.title_comment_label {
          flex-grow: 1;
        }

        .comments_title h3 {
          color:#FFF;
          font-size: 24px;
          margin-bottom: 0;
        }
        .title_comment_label {
          color:#9ac36d;
          font-size: 12px;
          text-align: right;
        }
      }

      .comment-form {
        .line-item {
          display: flex;
          align-content: space-between;
          margin-bottom: 12px;

          .third_item {
            flex-grow: 1;

            input[type="text"],input[type="email"] {
              width: 100%;
              box-sizing: border-box;
              border:0;
              .rounded(3px);
              height: 60px;
              font-size:12px;
              color:#898989;
              padding: 0 25px;

              -webkit-box-shadow: inset 0px 3px 9px 0px rgba(0,0,0,0.25);
              -moz-box-shadow: inset 0px 3px 9px 0px rgba(0,0,0,0.25);
              box-shadow: inset 0px 3px 9px 0px rgba(0,0,0,0.25);

              &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                font-size:12px;
                color:#898989;
              }
              &::-moz-placeholder { /* Firefox 19+ */
                font-size:12px;
                color:#898989;
              }
              &:-ms-input-placeholder { /* IE 10+ */
                font-size:12px;
                color:#898989;
              }
              &:-moz-placeholder { /* Firefox 18- */
                font-size:12px;
                color:#898989;
              }
            }

            &.center-item {
              margin:0 12px;
            }
          }
        }
        .submit_container {
          margin-bottom: 50px;
          margin-top: 20px;

          input[type="submit"]{
            width: 100%;
            height: 60px;
            box-sizing: border-box;
            background: @yellow;
            color:#36624d;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 0.42em;
            font-size: 17px;
            .rounded(10px);
          }
        }
        .comment_container {

          textarea {
            width: 100%;
            height: 130px;
            box-sizing: border-box;
            border: 0;
            .rounded(3px);
            font-size:12px;
            color:#898989;
            padding: 25px;

            -webkit-box-shadow: inset 0px 3px 9px 0px rgba(0,0,0,0.25);
            -moz-box-shadow: inset 0px 3px 9px 0px rgba(0,0,0,0.25);
            box-shadow: inset 0px 3px 9px 0px rgba(0,0,0,0.25);

            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
              font-size:12px;
              color:#898989;
            }
            &::-moz-placeholder { /* Firefox 19+ */
              font-size:12px;
              color:#898989;
            }
            &:-ms-input-placeholder { /* IE 10+ */
              font-size:12px;
              color:#898989;
            }
            &:-moz-placeholder { /* Firefox 18- */
              font-size:12px;
              color:#898989;
            }
          }
        }
      }
    }
  }
}


.slider_home_container {
  position: relative;
  padding-bottom: 50px;

  .slider_menu_navigation {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    min-height: 60px;
    background: rgba(255, 255, 255, 0.15);
    z-index: 9999;

    a {
      color:inherit;
    }

    ul.menu-header {
      display: block;
      text-align: center;
      font-size:0;

      li {
        color:#FFF;
        //float:left;
        display: inline-block;
        font-size:14px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 60px;
        border-right:1px solid rgba(0,0,0,0.05);

        a {
          padding: 0 30px;
          display: block;
        }

        &:first-child {
          border-left:1px solid rgba(0,0,0,0.05);
        }

        &.current-menu-item a, a:hover{
          color: @yellow;
          background: rgba(0,0,0,0.05);
          background: -moz-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(231,56,39,0) 100%);
          background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.05)), color-stop(100%, rgba(231,56,39,0)));
          background: -webkit-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(231,56,39,0) 100%);
          background: -o-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(231,56,39,0) 100%);
          background: -ms-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(231,56,39,0) 100%);
          background: linear-gradient(to bottom, rgba(0,0,0,0.05) 0%, rgba(231,56,39,0) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#e73827', GradientType=0 );
        }
      }
    }
  }

  .main_top_slider {
    -webkit-box-shadow: 0px 19px 54px -15px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 19px 54px -15px rgba(0,0,0,0.5);
    box-shadow: 0px 19px 54px -15px rgba(0,0,0,0.5);

    position: relative;

    .flex-control-nav {
      position: absolute;
      left:0;
      width: 100%;
      bottom: 0;
      margin-bottom: 60px;
      z-index: 9999;
      text-align: center;
      width: 100%;

      li {
        display: inline-block;

        a {
          font-size: 0;
          display: block;
          width: 10px;
          height: 10px;
          background: #628838;
          .rounded(100%);
          margin: 0 10px;

          &.flex-active {
            background: @yellow;
          }

        }
      }

    }
  }

  ul.slides {

    li.slider_item {
      position: relative;
      background-size: cover;
      padding-top: 120px;
      padding-bottom: 135px;

      &::before {
        content:"";
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background: rgba(130,183,72,0.9);
      }

      .image_container {
        background: url(images/frame.jpg) center center no-repeat;
        max-width: 1228px;
        min-height: 617px;
        margin: 0 auto;
        text-align: center;
        position: relative;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        -webkit-box-shadow: 14px 19px 54px -9px rgba(0,0,0,0.58);
        -moz-box-shadow: 14px 19px 54px -9px rgba(0,0,0,0.58);
        box-shadow: 14px 19px 54px -9px rgba(0,0,0,0.58);

        .content_slide_data {
          position: absolute;
          top:0;
          left:0;
          width: 100%;
          height: 100%;
          display: flex;
          align-content: center;
          justify-content: center;
          align-items: center;

          .slide_data {
            width: 100%;
            padding: 65px 135px;
            box-sizing: border-box;
            text-align: left;

            a {
              color:inherit;

              &:hover {
                .opacity(0.75);
                .transition(all 300ms ease-in-out);
              }
            }

            h2.slide_title {
              font-size: 44px;
              color:#FFF;
              text-transform: uppercase;
              font-weight: 300;
              line-height: 54px;
              width: 50%;
              margin-bottom: 30px;
            }

            .sub_title_slide {
              width: 50%;
              border-top:1px solid rgba(255,255,255,0.3);
              padding-top: 30px;

                .slide_icon {
                  width: 35px;
                  height: 35px;
                  background: @yellow;
                  .rounded(100%);
                  line-height: 35px;
                  text-align: center;
                  color:#000000;
                  margin-right: 27px;
                  display: block;
                  font-size: 10px;
                  float: left;
                }
              .slide_subtitle {
                font-size: 13px;
                color:@yellow;


                p {
                  line-height: 18px;
                }
              }
            }
          }
        }

        img {

          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}


.order_form {
  background: #2c813c url(images/mask.png) 0 0;
  padding-top: 15px;

  .form_heading {
    margin-bottom: 65px;
  }

  .title_form {
    text-align: center;

    h2 {
      margin-bottom: 65px;
      font-size: 53px;
      font-weight: 600;
      color:#FFF;
      text-transform: uppercase;
    }
  }

  .services_categories {
    width: 100%;
    display: flex;
    min-height: 70px;
    align-content: center;
    justify-content: center;
    border-top:1px solid rgba(255,255,255,0.1);
    border-right:1px solid rgba(255,255,255,0.1);
    border-left:1px solid rgba(255,255,255,0.1);
    .rounded-corners(10px,10px,0,0);
    overflow: hidden;

    li {
      text-align: center;
      flex-grow: 1;
      font-size: 18px;
      color:#FFF;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 70px;
      .transition(all 300ms ease-in-out);
      border-right:1px solid rgba(255,255,255,0.1);

      &.active {
        background: #FFF;
        color:@main_color;
      }

      &:last-child{
        border-right:none;
      }

      &:hover {
        cursor: pointer;
        background: #FFF;
        color:@main_color;
        .transition(all 300ms ease-in-out);
      }
    }
  }
}

.order_form_container {
  display: flex;
  align-items: center;
  align-content: space-between;

  .gardeners_data {
    width: 26.5%;

    .gardner_container {
      margin-right: 35px;
      .slick-slide {
        padding: 1px;
        box-sizing: border-box;
      }
      .gardener_slider_arrows {
        margin-bottom: 15px;
      }
      .previous_gardener,.next_gardener {
        width: 28px;
        height: 28px;
        min-height: 28px;
        display: block;
        border:2px solid rgba(0,0,0,0.1);
        .rounded(100%);
        text-align: center;
        line-height: 28px!important;
        color:#999999;
        font-size: 13px;
        cursor:pointer;
        float: left;
        .transition(all 300ms ease-in-out);

        &:hover {
          border:2px solid rgba(0,0,0,0.3);
          .transition(all 300ms ease-in-out);
        }
      }
      .previous_gardener {
        margin-right: 6px;

        .fa {
          padding-right:2px;
        }
      }
      .next_gardener {
        .fa {
          padding-left: 2px;
        }
      }
      h4.gardener_slider_title {
        font-weight: 600;
        font-size: 39px;
        color:#000;
        text-transform: uppercase;
        margin-bottom: 15px;
        line-height: 39px;
      }
      span.subtitle {
        color:rgba(0,0,0,0.5);
        font-size: 10px;
        text-transform: uppercase;
        line-height: 10px;
        display: block;
      }

      .gardener_top {
        padding-top: 40px;
        padding-bottom: 35px;
        display: flex;
        align-items: center;

        .image {
          margin-right: 20px;
          max-width: 86px;

          img {
            max-width: 86px;
            height: auto;
            .rounded(100%);
          }
        }
        .name_post {
          .gardener_name {
            font-size: 18px;
            color:#000;
            text-transform: uppercase;
            font-weight: 700;
            display: block;
          }
          .gardener_post {
            color: #898989;
            font-size: 12px;
          }
        }
      }
      .gardener_middle {
        padding-bottom: 30px;
        .sub_title {
          font-size: 14px;
          color:#2a2a2a;
          line-height: 18px;
          font-weight: 700;
          margin-bottom: 20px;
          text-transform: uppercase;
        }
        .gardener_content {
          color:#434343;
          font-size:12px;
          line-height: 18px;

          p {
            color:#434343;
            font-size:12px;
            line-height: 18px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
      .gardener_bottom {
        padding-bottom: 40px;

        a {
          color:inherit;
          font-size: 16px;
          margin-right: 15px;
          .transition(all 300ms ease-in-out);

          &:hover {
            color:@main_color;
            .transition(all 300ms ease-in-out);
          }
        }

        .fb_icon {
          color:#3b5998;
        }
        .twi_icon {
          color:#00aced;
        }
        .email_icon {
          color:#aaaaaa;
        }
      }
    }
  }
  .projects_data {
    width: 26.5%;

    .projects_container {
      margin-left: 35px;

      h4.projects_title {
        font-size: 39px;
        color:#000;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 30px;
      }

      .project_item {
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #e5e5e5;

        .project_date {
          color:#939393;
          font-size: 9px;
          display: block;
          line-height: 10px;
          text-transform: uppercase;
        }
        a.project_title_link {
          color:#2a2a2a;
          font-size: 14px;
          line-height: 18px;
          font-weight: 700;
          text-transform: uppercase;
          display: inline-block;
          .transition(all 300ms ease-in-out);

          &:hover {
            color:@main_color;
            .transition(all 300ms ease-in-out);
          }
        }
      }
      .all_projects {

        a {
          font-size:13px;
          font-weight: 700;
          text-transform: uppercase;
          color:@main_color;
          .transition(all 300ms ease-in-out);

          .fa {
            font-size:10px;
            margin-left: 4px;
            color:@yellow;
            .transition(all 300ms ease-in-out);
          }

          &:hover {
            color:#000;
            .transition(all 300ms ease-in-out);

            .fa {
              color:#000;
              .transition(all 300ms ease-in-out);
              margin-left: 6px;
            }
          }
        }
      }
    }
  }
  .order_form_data {
    width: 47%;
    text-align: center;

    .order_form_box {
      background: @main_color;
      .rounded(10px);
      padding: 45px;
      box-sizing: border-box;
      margin-bottom: 70px;
      -webkit-box-shadow: 0px 29px 58px -35px rgba(44,129,60,1);
      -moz-box-shadow: 0px 29px 58px -35px rgba(44,129,60,1);
      box-shadow: 0px 29px 58px -35px rgba(44,129,60,1);

      .field {
        margin-bottom: 10px;
      }
      .field_extra {
        position: relative;
        min-height: 60px;

        &:after {
          content:"";
          width: 1px;
          height: 60px;
          border-right:1px solid rgba(0,0,0,0.1);
          position: absolute;
          top:0;
          left:50%;
        }


        input[type="text"],input[type="email"] {
          width: 50%;
          float:left;

          &#contact-form-phone {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
            -webkit-box-shadow: inset 0px 10px 9px -5px rgba(0,0,0,0.25);
            -moz-box-shadow: inset 0px 10px 9px -5px rgba(0,0,0,0.25);
            box-shadow: inset 0px 10px 9px -5px rgba(0,0,0,0.25);
          }
          &#contact-form-email {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            -webkit-box-shadow: inset 0px 10px 9px -5px rgba(0,0,0,0.25);
            -moz-box-shadow: inset 0px 10px 9px -5px rgba(0,0,0,0.25);
            box-shadow: inset 0px 10px 9px -5px rgba(0,0,0,0.25);
          }
        }
      }
    }
  }
}

.story,.order_form_data {

  /* Forms Style */
  input[type="text"],input[type="email"],input[type="password"],input[type="date"],input[type="tel"] {
    width: 100%;
    box-sizing: border-box;
    border:0;
    .rounded(3px);
    height: 60px;
    font-size:12px;
    color:#898989;
    padding: 0 25px;

    -webkit-box-shadow: inset 0px 3px 9px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0px 3px 9px 0px rgba(0,0,0,0.25);
    box-shadow: inset 0px 3px 9px 0px rgba(0,0,0,0.25);

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      font-size:12px;
      color:#898989;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      font-size:12px;
      color:#898989;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      font-size:12px;
      color:#898989;
    }
    &:-moz-placeholder { /* Firefox 18- */
      font-size:12px;
      color:#898989;
    }
  }
  input[type="date"] {
    font-family: arial, sans-serif;
  }
  textarea {
    width: 100%;
    height: 130px;
    box-sizing: border-box;
    border: 0;
    .rounded(3px);
    font-size:12px;
    color:#898989;
    padding: 25px;

    -webkit-box-shadow: inset 0px 3px 9px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0px 3px 9px 0px rgba(0,0,0,0.25);
    box-shadow: inset 0px 3px 9px 0px rgba(0,0,0,0.25);

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      font-size:12px;
      color:#898989;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      font-size:12px;
      color:#898989;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      font-size:12px;
      color:#898989;
    }
    &:-moz-placeholder { /* Firefox 18- */
      font-size:12px;
      color:#898989;
    }
  }
  input.submit {
    margin-top: 25px;
    width: 100%;
    height: 77px;
    background: @yellow;
    color:#36624d;
    font-size: 22px;
    letter-spacing: 0.58em;
    font-weight: bold;
    text-transform: uppercase;
    .rounded(10px);

    &:hover {
      .opacity(1);
      background: #333;
      color:#FFF;
    }
  }
}


.services_box {
  width: 100%;
  display: flex;
  background-color: #272727;


  .service_left {
    width: 25%;
  }
  .service_center {
    width: 50%;
    min-width: 980px;
    display: flex;
  }
  .service_right {
    width: 25%;
    background: #2c813c url(images/mask.png) 0 0;
  }

  .display_none {
    display: none;
  }

  .service_image {
    width: 100%;
    min-height: 610px;
    display: block;
    position: relative;

    .image_container {
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      background-size: cover;


    }
  }

  .services_list {
    width: 50%;

    .service_button {
      width: 50%;
      padding-top: 50%;
      position: relative;
      float: left;
      background: #0f613a;

      .item_button {
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        .transition(all 300ms ease-in-out);
        cursor: pointer;

        &.button_1 {
          background: #0f613a;
        }
        &.button_2 {
          background: #0d6d3a;
        }
        &.button_3{
          background: #2c813c;
        }
        &.button_4 {
          background: #2a7c3c;
        }
        &.button_5 {
          background: #369141;
        }
        &.button_6 {
          background: #59a032;
        }

        .image_holder {
          width: 100px;
          height: 100px;
          display: flex;
          align-content: center;
          align-items: center;
          justify-content: center;

          .hover_image {
            display: none;
          }
        }
        .title_holder {
          margin-top: 10px;
          font-size: 18px;
          color:#FFF;
          font-weight: 700;
          text-transform: uppercase;
        }
      }


      &:hover,  &.active {
        .item_button {
          margin: -10px;
          width: ~"calc(100% + 20px)";
          height: ~"calc(100% + 20px)";
          z-index: 99;
          .transition(all 300ms ease-in-out);
          .rounded(2px);
          -webkit-box-shadow: 0px 5px 72px -5px rgba(0,0,0,0.37);
          -moz-box-shadow: 0px 5px 72px -5px rgba(0,0,0,0.37);
          box-shadow: 0px 5px 72px -5px rgba(0,0,0,0.37);

          .image_holder {
            .hover_image {
              display: block;
            }
            .active_image {
              display: none;
            }
          }
        }
      }



    }



  }
  .service_description {
    width: 50%;
    background: #2c813c url(images/mask.png) 0 0;

    .item_service {
      margin-top: 90px;
      margin-left: 80px;
      margin-bottom: 145px;

      h4.service_title {
        font-size: 43px;
        color:#FFF;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 40px;
        line-height: 43px;
      }
      span.service_subtitle {
        color:@yellow;
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
        display: inline-block;
        line-height: 18px;
        margin-bottom: 40px;
      }
      .service_content {
        font-size: 14px;
        color:#FFF;
        line-height: 24px;

        .image_top {
          margin-bottom: 20px;
        }

         p{
           font-size: 14px;
           color:#FFF;
           line-height: 24px;

           &:last-child {
             margin-bottom: 0;
           }
         }
      }
      .separate_service {
        display: block;
        width: 100%;
        height: 20px;
        background: url(images/separator.png) center center no-repeat;
        margin-bottom: 40px;
        margin-top: 40px;
      }
      .service_links {
        color:#2d4231;
        font-size:13px;


        a {
          color:inherit;

          &:last-child {
            &::after {
              display: none;
            }
          }

          &::after {
            content:"|";
            color:rgba(255,255,255,0.1);
            margin-left: 9px;
            margin-right: 7px;
          }
          .transition(all 300ms ease-in-out);
          &:hover {
            .opacity(0.75);
            .transition(all 300ms ease-in-out);
          }
        }
      }


      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}


.partners_box {
  background-color: #272727;
  background-size:cover;
  background-position: center bottom;
  margin-top: -220px;
  padding-top: 140px;


  .partners_box_elements {
    display: flex;
    flex-direction: row;

    .partners_slider_container {
      //min-height: 700px;
      width: 25%;
      align-self:flex-end;
      margin-bottom: 50px;

      .slide_partner_item {
        .partner_slide_title {
          display: block;
          font-size: 36px;
          color:@yellow;
          text-transform: uppercase;
          text-align: right;
          font-weight: 300;
        }
        .partner_slide_subtitle {
          color: #c8c8c8;
          font-size: 11px;
          display: block;
          text-align: right;
        }
      }

      .partners_slider {
        position: relative;
        margin-top: 50px;
        margin-right: 20px;


        .slide_partner_item {
          height: 120px;
          .opacity(0.5);


          &.slick-current {
            .opacity(1);
          }

        }
      }

      .hidden_data {
        display: none;
      }


    }
    .partners_descriptions {
      width: 75%;
      align-self:flex-end;
      margin-bottom: 50px;
      padding-left: 30px;

      .slider_navigations {
        margin-bottom: 45px;
        display: flex;
        align-items: center;
        justify-content: center;

        .slider_title_box h4 {
          font-size: 53px;
          color:#FFF;
          font-weight: 600;
          text-transform: uppercase;
          line-height: 53px;
        }
        .nums {
          color:#949494;
          font-size: 10px;
        }
        .buttons_slide {
          margin-left: 13px;
          margin-right: 27px;
          .top_slide,.bottom_slide {
            display: block;
            color:#3f3f3f;
            border:2px solid #3f3f3f;
            .rounded(100%);
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            cursor: pointer;
            .transition(all 300ms ease-in-out);

            &:hover {
              color:#7d7d7d;
              border-color:#7d7d7d;
              .transition(all 300ms ease-in-out);
            }
          }
          .top_slide {
            margin-bottom: 4px;
          }
        }
      }

      .partner_contents_data {

        border-top:1px solid rgba(255,255,255,0.1);
        padding-top: 45px;

        .par_contents {
          color:#FFF;
          font-size: 14px;
          line-height: 24px;
          margin-bottom: 35px;

          p {
            color:#FFF;
            font-size: 14px;
            line-height: 24px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
        .par_links {
          font-size: 12px;
          color:@yellow;

          .site_field {
            border-right:1px solid rgba(255,255,255,0.1);
            padding-right: 13px;
            margin-right: 13px;
          }

          a {
            color: inherit;

            &:hover {
              .opacity(0.75);
              .transition(all 300ms ease-in-out);
            }
          }
        }
      }
    }
  }
}

.testimonials_box {
  padding-top: 95px;
  padding-bottom: 70px;
  position: relative;
  overflow: hidden;

  .title_bg {
    font-size: 17vw;
    color:rgba(0,0,0,0.03);
    font-weight:600;
    text-transform: uppercase;
    position: absolute;
    top:-15px;
    line-height: 13vw;
  }

  .testimonial_box_container {
    position: relative;

    .testy_buttons_slide {
      position: absolute;
      top:0;
      left:50%;
      width: 240px;
      margin-left: -120px;
      z-index: 9999;

      .previous_testy,.next_testy {
        color:#afafaf;
        font-size: 20px;
        cursor: pointer;
        line-height: 100px;
        .transition(all 300ms ease-in-out);

        &:hover {
          color:#333;
          .transition(all 300ms ease-in-out);
        }
      }

      .next_testy {
        float: right;

      }
      .previous_testy {
        float: left;
      }
    }
  }

  .testimonials_slider {

    .testy_slide {
      text-align: center;

      .testy_separator {
        color:#e5e5e5;
        text-align: center;
        font-size: 24px;
        margin-top: 15px;
        display: inline-block;
        position: relative;
        padding: 0 60px;

        &:before,&:after {
          content:'';
          width: 165px;
          height: 1px;
          display: block;
          background: #f0ede1;
          position: absolute;
          top:50%;
        }

        &:before {
          left:0;
          margin-left: -165px;
        }
        &:after {
          right:0;
          margin-right: -165px;
        }
      }

      .testy_image {
        width: 100px;
        height: 100px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 20px;

        img {
          max-width: 100%;
          height: auto;
          .rounded(100%);
        }

      }
      .test_head {
        padding-bottom: 20px;
        h5 {
          font-size: 18px;
          color:#000000;
          font-weight: 700;
          text-transform: uppercase;
          line-height: 18px;
          margin-bottom: 10px;
        }
        .testy_position {
          font-size: 11px;
          color:#898989;
          display: block;
          line-height: 11px;
        }
      }
      .testy_rating {
        padding-bottom: 25px;

        .rating_stars {
          .fa {
            color:#e4dec4;
            margin: 0 2px;

            &.active {
              color: @yellow;
            }
          }
        }
      }
      .testy_subtitle {
        color:#060606;
        font-size: 16px;
        font-style: italic;
        text-align: center;
        margin-bottom: 25px;
        display:block;
      }
      .testy_content {
        color:#898989;
        font-size: 16px;
        line-height: 24px;

        p {
          text-align: center;
          color:#898989;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
}


.portfolio_box {
  position: relative;

  .projects_nav {
    position: absolute;
    bottom:0;
    width: 100%;
    left: 0;
    margin-bottom: 40px;
    text-align: center;


    .buttons_slide_projects {
      width: 76px;
      margin-bottom: 10px;
      .left_slide_project,.right_slide_project {
        display: inline-block;
        color:rgba(255,255,255,0.4);
        border:2px solid rgba(255,255,255,0.4);
        .rounded(100%);
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        cursor: pointer;
        .transition(all 300ms ease-in-out);

        &:hover {
          color:rgba(255,255,255,0.8);
          border-color:rgba(255,255,255,0.8);
          .transition(all 300ms ease-in-out);
        }
      }
    }
    .counter {
      width: 76px;
      color:rgba(255,255,255,0.4);
      font-size: 11px;

    }
  }

  .portfolio_slider {

    .portfolio_item_slide {

      figure {
        position: relative;

        figcaption {
          position: absolute;
          bottom: 0;
          left:0;
          width: 100%;

          background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.35) 99%, rgba(0,0,0,0.35) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.35) 99%,rgba(0,0,0,0.35) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.35) 99%,rgba(0,0,0,0.35) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#59000000',GradientType=0 ); /* IE6-9 */


          .portfolio_subtitle, h5.project_title, .portfolio_slide_info {
            margin-left: 100px;
          }
          .portfolio_subtitle {
            font-size: 16px;
            color:@yellow;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 16px;
            display: block;
            margin-bottom: 25px;
          }
          h5.project_title {
            color:#FFF;
            font-size: 53px;
            text-transform: uppercase;
            font-weight: 600;
            margin-bottom: 20px;
            line-height: 53px;
          }
          .portfolio_slide_info {
            font-size: 13px;
            color:#FFF;
            text-transform: uppercase;
            margin-bottom: 40px;

            .project_company {
              margin-right: 10px;
            }
          }


        }
      }

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}

.blog_cats {
  width: 100%;
  min-height: 60px;
  background: #ededed;
  margin-bottom: 40px;

  .categories {
    width: 100%;
    text-align: center;

    li {
      font-size: 14px;
      font-weight: 700;
      color:#898989;
      text-transform: uppercase;
      display: inline-block;
      min-height: 60px;
      line-height: 60px;


      &.current_item {
        color:#000;
        position: relative;

        &:before {
          content: "";
          position: absolute;
          top:100%;
          left:50%;
          margin-left: -5px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 6px 5.5px 0 5.5px;
          border-color: #ededed transparent transparent transparent;
        }
      }

      a {
        color:inherit;
        display: block;
        min-height: 60px;
        line-height: 60px;
        padding: 0 20px;
        .transition(all 300ms ease-in-out);

        &:hover {
          color:#010101;
          .transition(all 300ms ease-in-out);
        }
      }
    }
  }
}

.default_pagination {
  height: 110px;
  margin-top: 40px;
  background: url(images/pagination.jpg) left top repeat-x;

  .pag_links {
    height: 110px;
    display: flex;
    align-content: center;
    align-items: center;

    a {
      color:inherit;
      .transition(all 300ms ease-in-out;)
    }


    .left_arrow {
      flex-grow: 1;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 700;
      color:#FFF;

      .prev_page:hover {
        a .fa {
          color: @yellow;
          .transition(all 300ms ease-in-out;)
        }
      }
      .fa {
        color:#2d2d2d;
        margin-right: 10px;
        font-size: 18px;
        .transition(all 300ms ease-in-out;)
      }
    }
    .center_buttons {
      flex-grow: 2;
      text-align: center;
      font-size: 18px;
      color:#FFF;
      font-weight: 700;
      height: 110px;
      line-height: 110px;


      .page-numbers {
        margin: 0 15px;

        display: inline-block;

        &.current {
          color:@yellow;
          font-size:24px;
          background: url(images/pagination_current.png) center center no-repeat;
        }
      }

      a:hover {
        color:@yellow;
        .transition(all 300ms ease-in-out);
      }
    }
    .right_arrow {
      flex-grow: 1;
      text-align: right;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 700;
      color:#FFF;

      .next_page:hover {
        a .fa {
          color: @yellow;
          .transition(all 300ms ease-in-out;)
        }
      }

      .fa {
        margin-left: 10px;
        color:#2d2d2d;
        font-size: 18px;
        .transition(all 300ms ease-in-out;)
      }
    }
  }
}

.posts_list {

  .grid {
    .grid-sizer,
    .grid-item {
      width: 49%;
    }
    .grid-item {
     margin-bottom: 20px;

      &.format-quote {
        background: #8eb95e;

        h2.post_title{
          color:#FFF;
          -ms-word-wrap: break-word;
          word-wrap: break-word;
        }
        .post_category a {
          background: #ea7878;
          .transition(all 300ms ease-in-out);

          &:hover {
            background: #ffb458;
            .transition(all 300ms ease-in-out);
          }
        }
        .post_subtitle {
          color:#62774b;
        }
        .post_info .comments_count,.post_info .date,.post_info .read_more_button {
          color:#FFF;
        }
      }

    }
    .gutter-sizer { width: 2%; }
    .grid-item--width2 {
      width: 100%;
    }
  }
  article.topimg {
    .rounded(3px);
    overflow: hidden;

    figure {
      position: relative;
      min-height: 360px;
      background: #f5f5f5;

      figcaption {
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        background: -moz-linear-gradient(left, rgba(0,0,0,0.52) 0%, rgba(30,87,153,0) 40%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(0,0,0,0.52) 0%,rgba(30,87,153,0) 40%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(0,0,0,0.52) 0%,rgba(30,87,153,0) 40%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#85000000', endColorstr='#001e5799',GradientType=1 ); /* IE6-9 */



        .post_data {
          width: 45%;
          margin-left: 50px;

          h2.post_title {
            font-size:34px;
            color:#FFF;
            font-weight: 700;
            line-height: 38px;
            -ms-word-wrap: break-word;
            word-wrap: break-word;

            a {
              color:inherit;
              .transition(all 300ms ease-in-out);


              &:hover{
                .opacity(0.75);
                .transition(all 300ms ease-in-out);
              }
            }
          }
          span.subtitle {
            font-size: 14px;
            color:#d7d7d7;
          }
          .post_info {
            margin-top: 25px;

            .comments_count {
              font-size: 11px;
              color:#C8C8C8;
              padding-right: 15px;
              margin-right: 15px;
              line-height: 17px;
              display: inline-block;
              border-right:1px solid rgba(255,255,255,0.1);

              .fa {
                font-size: 18px;
                margin-right: 5px;
              }
            }
            .date {
              font-size: 11px;
              color: #c8c8c8;
              text-transform: uppercase;
              .fa {
                font-size: 18px;
                margin-right: 5px;
              }
            }

            .read_more_button {
              text-transform: uppercase;
              font-size: 14px;
              line-height: 35px;
              color:@yellow;
              font-weight: 700;
              padding-right: 15px;
              margin-right: 15px;
              border-right:1px solid rgba(255,255,255,0.1);

              a {
                color:inherit;
                .transition(all 300ms ease-in-out);

                &:hover {
                  color:#898989;
                  .transition(all 300ms ease-in-out);

                  .icon {
                    background: #898989;
                    color:#FFF;
                    .transition(all 300ms ease-in-out);
                  }

                }

              }

              .icon {
                width: 35px;
                height: 35px;
                background: @yellow;
                color:#000;
                text-align: center;
                margin-right: 10px;
                .rounded(100%);
                display: flex;
                align-items: center;
                align-content: center;
                justify-content: center;
                float:left;
                .transition(all 300ms ease-in-out);


                .fa {
                  font-size: 10px;
                }
              }
            }
          }
        }
      }
    }



  }

  article.blog-item {
    background: #ededed;
    .rounded(3px);
    overflow: hidden;
    .transition(all 600ms ease-in-out);

    .post_thumbnail img {
      width: 100%;
      height: auto;
    }

    &:hover {
      -webkit-box-shadow: 20px 20px 89px -20px rgba(0,0,0,0.44);
      -moz-box-shadow: 20px 20px 89px -20px rgba(0,0,0,0.44);
      box-shadow: 20px 20px 89px -20px rgba(0,0,0,0.44);
      .transition(all 600ms ease-in-out);
    }

    .post_category {

      a {
        background: #aac07e;
        .rounded(3px);
        padding: 4px 10px;
        font-size: 11px;
        font-weight: 700;
        margin-bottom: 20px;
        color:#FFF;
        text-transform: uppercase;
        display: inline-block;
        margin-right: 5px;
        .transition(all 300ms ease-in-out);

        &:hover {
          background: #ffb458;
          .transition(all 300ms ease-in-out);
        }
      }
    }

    .post_data{
      padding: 65px 50px;
      box-sizing: border-box;

      .post_info {
        margin-top: 25px;

        .comments_count {
          font-size: 11px;
          color:#939393;
          padding-right: 15px;
          margin-right: 15px;
          border-right:1px solid rgba(0,0,0,0.1);
          line-height: 17px;
          display: inline-block;

          .fa {
            font-size: 18px;
            margin-right: 5px;
          }
        }
        .date {
          font-size: 11px;
          color: #939393;
          text-transform: uppercase;
          .fa {
            font-size: 18px;
            margin-right: 5px;
          }
        }

        .read_more_button {
          text-transform: uppercase;
          font-size: 14px;
          line-height: 35px;
          color:#898989;
          font-weight: 700;
          padding-right: 15px;
          margin-right: 15px;
          border-right:1px solid rgba(0,0,0,0.1);

          a {
            color:inherit;
            .transition(all 300ms ease-in-out);

            &:hover {
              color:#000;
              .transition(all 300ms ease-in-out);

              .icon {
                background: #898989;
                color:@yellow;
                .transition(all 300ms ease-in-out);
              }

            }

          }

          .icon {
            width: 35px;
            height: 35px;
            background: @yellow;
            color:#000;
            text-align: center;
            margin-right: 10px;
            .rounded(100%);
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            float:left;
            .transition(all 300ms ease-in-out);


            .fa {
              font-size: 10px;
            }
          }
        }
      }

      h2.post_title {
        font-size: 34px;
        color:#000;
        text-transform: uppercase;
        margin-bottom: 0;
        -ms-word-wrap: break-word;
        word-wrap: break-word;

        a {
          color:inherit;
          .transition(all 300ms ease-in-out);

          &:hover {
            .opacity(0.75);
            .transition(all 300ms ease-in-out);
          }
        }
      }
      .post_subtitle {
        font-size: 12px;
        color:#898989;
        display: inline-block;
      }
    }
  }

  article.full-width-item {
    background: #ededed;
    .rounded(3px);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    .transition(all 600ms ease-in-out);

    &:hover {
      -webkit-box-shadow: 20px 20px 89px -20px rgba(0,0,0,0.44);
      -moz-box-shadow: 20px 20px 89px -20px rgba(0,0,0,0.44);
      box-shadow: 20px 20px 89px -20px rgba(0,0,0,0.44);
      .transition(all 600ms ease-in-out);
    }

    .post_thumbnail {
      width: 49%;
    }
    .post_data {
      width: 49%;
    }


    .post_category {

      a {
        background: #aac07e;
        .rounded(3px);
        padding: 4px 10px;
        font-size: 11px;
        font-weight: 700;
        margin-bottom: 20px;
        color:#FFF;
        text-transform: uppercase;
        display: inline-block;
        margin-right: 5px;
        .transition(all 300ms ease-in-out);

        &:hover {
          background: #ffb458;
          .transition(all 300ms ease-in-out);
        }
      }
    }

    .post_data{
      padding: 65px 50px;
      box-sizing: border-box;

      .post_info {
        margin-top: 25px;

        .comments_count {
          font-size: 11px;
          color:#939393;
          padding-right: 15px;
          margin-right: 15px;
          border-right:1px solid rgba(0,0,0,0.1);
          line-height: 17px;
          display: inline-block;

          .fa {
            font-size: 18px;
            margin-right: 5px;
          }
        }
        .date {
          font-size: 11px;
          color: #939393;
          text-transform: uppercase;
          .fa {
            font-size: 18px;
            margin-right: 5px;
          }
        }

        .read_more_button {
          text-transform: uppercase;
          font-size: 14px;
          line-height: 35px;
          color:#898989;
          font-weight: 700;
          padding-right: 15px;
          margin-right: 15px;
          border-right:1px solid rgba(0,0,0,0.1);

          a {
            color:inherit;
            .transition(all 300ms ease-in-out);

            &:hover {
              color:#000;
              .transition(all 300ms ease-in-out);

              .icon {
                background: #898989;
                color:@yellow;
                .transition(all 300ms ease-in-out);
              }

            }

          }

          .icon {
            width: 35px;
            height: 35px;
            background: @yellow;
            color:#000;
            text-align: center;
            margin-right: 10px;
            .rounded(100%);
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            float:left;
            .transition(all 300ms ease-in-out);


            .fa {
              font-size: 10px;
            }
          }
        }
      }

      h2.post_title {
        font-size: 34px;
        color:#000;
        text-transform: uppercase;
        margin-bottom: 0;
        -ms-word-wrap: break-word;
        word-wrap: break-word;

        a {
          color:inherit;
          .transition(all 300ms ease-in-out);

          &:hover {
            .opacity(0.75);
            .transition(all 300ms ease-in-out);
          }
        }
      }
      .post_subtitle {
        font-size: 12px;
        color:#898989;
        display: inline-block;
      }
    }
  }
}


.about_template {

  .about_author {
    width: 100%;
    background: #2c813c url(images/mask.png) 0 0;
    padding-top: 45px;

    .have_image {
      margin-right: 430px;
    }

    .data_box {
      text-align: right;
      position: relative;
      margin-bottom: 200px;

      p {
        text-align: justify;
      }

      .subtitle {
        color:#FFF;
        font-size:14px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 40px;
        letter-spacing: 0.02em;
        line-height: 20px;
      }
      .desctiption_container {
        color:#b8d19d;
        font-size: 14px;
        line-height: 24px;
        padding-bottom: 50px;

        p:last-child {
          margin-bottom: 0;
        }
      }
      .author_name {
        text-align: right;
        position: absolute;
        top:100%;
        right:0;
        margin-top: 40px;

        .author {
          font-size: 18px;
          color:#000;
          font-weight: 700;
          text-transform: uppercase;
          display: block;
        }
        .author_position {
          color:#898989;
          font-size: 12px;
          display: block;
        }
      }
    }
    .image_box {
      float: right;
      .rounded(4px);
      overflow: hidden;
      -webkit-box-shadow: 10px 26px 104px -33px rgba(0,0,0,0.75);
      -moz-box-shadow: 10px 26px 104px -33px rgba(0,0,0,0.75);
      box-shadow: 10px 26px 104px -33px rgba(0,0,0,0.75);
    }
  }


  .additional_info_box {
    padding-bottom: 90px;

    .top_info {
      display: flex;

      .left_info {
        h2 {
          margin: -10px 80px 0 30px;
          font-size: 52px;
          font-weight: 700;
          text-transform: uppercase;
          text-align: right;
        }
      }
      .right_info {

      }
    }
    .bottom_info {
      display: flex;

      .left_info {
        margin-top: -90px;
        margin-left: 50px;


        img {
          -webkit-box-shadow: 10px 26px 104px -33px rgba(0,0,0,0.75);
          -moz-box-shadow: 10px 26px 104px -33px rgba(0,0,0,0.75);
          box-shadow: 10px 26px 104px -33px rgba(0,0,0,0.75);
        }
      }
      .right_info {
        padding: 70px 30px 30px 60px;
        color:#555555;

        p {
          color: #555555;
          line-height: 24px;
        }
      }
    }
  }


  .skills_info_box {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin-bottom: 100px;

    .item_skills {
      position: relative;
      width: ~"calc(33.3% - 60px)";

      .skills_details {
        font-size: 12px;
        color:#898989;
        line-height: 24px;
      }

      .skills_title {
        font-size: 33px;
        color:#000;
        font-weight: 600;
        text-transform: uppercase;
      }

      .skills_icon {
        position: absolute;
        top:0;
        left:0;
        margin-left: -50px;
        margin-top: -50px;
      }
    }
  }

  .video_info_box {
    background: #ededed url(images/mask_video.png) bottom center no-repeat;

    .container_data_video {
      display: flex;
    }

    .partners_list {
      padding: 100px 0 30px 0;
      text-align: center;

      .partner_item {
        margin: 0 50px;
        text-transform: uppercase;
        color:#c5c4c5;
        font-size: 2vw;
        font-weight: 500;

        a {
          color:inherit;
          .transition(all 300ms ease-in-out);

          &:hover {
            color:#606060;
            .transition(all 300ms ease-in-out);
          }
        }
      }
    }


    .video_section {
      width: 50%;

      figure {
        position: relative;

        img {
          max-width: 100%;
          height: auto;
        }

        figcaption {
          position: absolute;
          top:0;
          left:0;
          width: 100%;
          height: 100%;

          a {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 74px;
            color:#f72b2b;
            .transition(all 300ms ease-in-out);

            &:hover {
              color:#FFF;
              .transition(all 300ms ease-in-out);
            }
          }
        }
      }

    }
    .partner_title_section {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 80px;

      h3.partners_title {
        color:#010101;
        font-size: 42px;
        font-weight: 300;
        line-height: 50px;

        strong {
          font-size: 52px;
          font-weight: 700;
        }
      }

      .partners_box_descr {
        max-width: 370px;
        color:#898989;
        font-size: 13px;
        line-height: 24px;
        margin-bottom: 0;
      }
    }
  }
}

.contact_template {
  .contact_blocks {
    display: flex;
    align-items: center;

    .text_info {
      width: 33%;
      padding-right: 45px;
      box-sizing: border-box;

      .content_box {
        color:#898989;
        font-size: 12px;
        line-height: 24px;
        border-bottom: 1px dashed #cccccc;
        padding-bottom: 30px;

        p {
          color:#898989;
          font-size: 12px;
          line-height: 24px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .phone_box {
        border-bottom: 1px dashed #cccccc;
        padding-bottom: 30px;
        padding-top: 30px;

        .box_conteiner {
          position: relative;
          margin-left: 45px;

          .fa {
            position: absolute;
            left:0;
            top:0;
            font-size: 26px;
            margin-left: -42px;
            margin-top: -5px;
            color:#e6e6e6;
          }
          .phono_label {
            display: block;
            font-size: 12px;
            color:#898989;
            margin-bottom: 10px;
            line-height: 12px;
          }
          .phone_number {
            font-size: 18px;
            color:#000;
            line-height: 18px;

            a {
              color:inherit;
            }
          }
        }
      }
      .email_box {
        border-bottom: 1px dashed #cccccc;
        padding-bottom: 30px;
        padding-top: 30px;

        .box_conteiner {
          position: relative;
          margin-left: 45px;

          .fa {
            position: absolute;
            left:0;
            top:0;
            font-size: 26px;
            margin-left: -42px;
            margin-top: -5px;
            color:#e6e6e6;
          }
          .email_label {
            display: block;
            font-size: 12px;
            color:#898989;
            margin-bottom: 10px;
            line-height: 12px;
          }
          .your_email {
            font-size: 18px;
            line-height: 18px;
            color:#000;
          }
        }
      }
      .address_box {
        padding-top: 30px;

        .box_conteiner {
          position: relative;
          margin-left: 45px;

          .fa {
            position: absolute;
            left:0;
            top:0;
            font-size: 26px;
            margin-left: -42px;
            margin-top: -5px;
            color:#e6e6e6;
          }
          .address_label {
            display: block;
            font-size: 12px;
            color:#898989;
            margin-bottom: 10px;
            line-height: 12px;
          }
          .your_address {
            font-size: 12px;
            color:#898989;
            line-height: 12px;

            strong {
              font-weight: normal;
              color:#000;
              font-size: 18px;
              line-height: 18px;
              display: block;
            }
          }
        }
      }
    }
    .form_container {
      width: 34%;
      background: url(images/contact_bg.jpg) left top repeat-y;
      padding: 140px 30px;
      box-sizing: border-box;
      -webkit-box-shadow: 29px 0px 54px -28px rgba(28,93,40,1);
      -moz-box-shadow: 29px 0px 54px -28px rgba(28,93,40,1);
      box-shadow: 29px 0px 54px -28px rgba(28,93,40,1);
      z-index: 9;

      h3.form_title {
        color:#FFF;
        font-size: 14px;
        line-height: 14px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
      .form_description {
        color:#a6be8b;
        font-size: 12px;
        line-height: 24px;
        margin-bottom: 30px;
      }

      .contact_page_form {

        .field {
          margin-bottom: 10px;
        }
        input.submit {
          font-size: 17px;
        }
      }
    }
    .map_container {
      width: 33%;


      .map {
        width: ~"calc(50vw - 163px);";
        //background: red;
        height: 100%;

        .ale_map_canvas {
          margin-bottom: 0;
        }
      }
    }
  }
}


.page404 {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;

  p {
    text-align: center;
  }

  .ale_button {
    text-transform: uppercase;
    color:#000;
    font-size: 18px;
    .transition(all 300ms ease-in-out);

    &:hover {
      color:@main_color;
      .transition(all 300ms ease-in-out);
    }
  }

}


.projects_list {
  background: #1f1f1f url(images/projects_bg.jpg) center center repeat;

  img {
    max-width: 100%;
    height: auto;
  }

  .grid_projects {
    .grid-sizer,
    .grid-projects-item {
      width: ~"calc(24% - 40px)";
      margin-bottom: 60px;

      a {
        position: relative;
        background: #000;
        display: block;
        .transition(all 300ms ease-in-out);

        img {
          .transition(all 300ms ease-in-out);
        }

        span.hover_icon {
          .opacity(0);
          position: absolute;
          top:50%;
          left:50%;
          margin-top: -58px;
          margin-left: -58px;
          width: 117px;
          height: 117px;
          display: block;
          background: url(images/project_hover.png) center center no-repeat;
          .transition(all 300ms ease-in-out);
        }

        &:hover {
          .transition(all 300ms ease-in-out);
          img {
            .opacity(0.5);
            .transition(all 300ms ease-in-out);
          }
          span.hover_icon {
            .opacity(1);
            .transition(all 300ms ease-in-out);
          }
        }
      }


    }
    .grid-projects-item-two {
      width: ~"calc(49% - 30px)";
    }
    .gutter-sizer {
      width: 60px;
    }
  }
  .projects_grid_container {
    padding-left: 60px;
    padding-right: 30px;
  }
}
.page_projects_archive {
  .blog_cats {
    margin-bottom: 0;
  }
  .default_pagination {
    margin-top: 0;
  }
}



.page_gardeners_archive {


  .staff_members {
    margin-top: 100px;

    .member {
      margin-bottom: 30px;
      display: flex;

      &:last-child {
        margin-bottom: 0;
      }

      .member_photo {
        width: 25%;
        text-align: right;

        img {
          max-width: 190px;
          height: auto;
          .rounded(100%);
        }
      }
      .member_names {
        width: 25%;
        padding-top: 30px;
        padding-left: 40px;
        padding-right: 40px;
        box-sizing: border-box;

        .member_name {
          display: block;
          font-size: 28px;
          line-height: 32px;
          color:#000000;
          text-transform: uppercase;
          font-weight: 700;
        }
        .member_position {
          font-size: 12px;
          color:#898989;
          display: block;
        }
        .gardener_bottom {
          padding-top: 15px;

          a {
            color:inherit;
            font-size: 16px;
            margin-right: 15px;
            .transition(all 300ms ease-in-out);

            &:hover {
              color:@main_color;
              .transition(all 300ms ease-in-out);
            }
          }

          .fb_icon {
            color:#3b5998;
          }
          .twi_icon {
            color:#00aced;
          }
          .email_icon {
            color:#aaaaaa;
          }
        }
      }
      .member_description {
        width: 50%;
        padding-top: 30px;

        .sub_title {
          font-size: 14px;
          text-transform: uppercase;
          color:#2a2a2a;
          font-weight: 700;
          margin-bottom: 20px;
          line-height: 18px;
          display: block;
        }
        .content_area {
          font-size: 13px;
          color:#434343;
          line-height: 24px;

          p {
            font-size: 13px;
            color:#434343;
            line-height: 24px;
          }
        }
      }
    }
  }

  .gardener_members {
    margin-top: 70px;
    margin-bottom: 80px;
    width: 100%;
    display: flex;
    border-left:1px solid #e8e8e8;
    flex-wrap: wrap;


    .member_gardener {
      width: 25%;
      border-right:1px solid #e8e8e8;
      border-bottom:1px solid #e8e8e8;
      border-top:1px solid #e8e8e8;
      text-align: center;
      padding: 40px;
      box-sizing: border-box;
      margin-top: -1px;
      position: relative;


      &:hover {
        .member_content {
          position: absolute;
          top:0;
          left:0;
          width: ~"calc(100% + 20px)";
          background: #FFF;
          display: block;
          padding: 50px 30px 30px 30px;
          box-sizing: border-box;
          border-top:1px solid @yellow;
          margin-top: -10px;
          margin-left: -10px;
          margin-right: -10px;
          -webkit-box-shadow: 20px 20px 104px -10px rgba(0,0,0,0.20);
          -moz-box-shadow: 20px 20px 104px -10px rgba(0,0,0,0.20);
          box-shadow: 20px 20px 104px -10px rgba(0,0,0,0.20);
          z-index: 9999;
        }
      }

      .photo {
        margin-bottom: 30px;

        img {
          .rounded(100%);
          max-width:100px;
          height: auto;
        }
      }

      .name {
        display: block;
        font-size: 18px;
        color:#000000;
        font-weight: 700;
        text-transform: uppercase;
      }

      .member_position {
        color:#898989;
        font-size:11px;

      }

      .member_content {
        display: none;

        .content_area {
          font-size: 12px;
          color:#898989;
          line-height: 24px;

          p {
            font-size: 12px;
            color:#898989;
            line-height: 24px;
          }
        }

        .gardener_bottom {
          padding-top: 20px;
          padding-bottom: 20px;

          a {
            color:inherit;
            font-size: 16px;
            margin-right: 15px;
            .transition(all 300ms ease-in-out);

            &:hover {
              color:@main_color;
              .transition(all 300ms ease-in-out);
            }
          }

          .fb_icon {
            color:#3b5998;
          }
          .twi_icon {
            color:#00aced;
          }
          .email_icon {
            color:#aaaaaa;
          }
        }
      }
    }
  }
}


.page_services_archive{
  .services_page_heading {
    -webkit-box-shadow: 0px 15px 66px -50px rgba(0,0,0,0.38);
    -moz-box-shadow: 0px 15px 66px -50px rgba(0,0,0,0.38);
    box-shadow: 0px 15px 66px -50px rgba(0,0,0,0.38);
    position: relative;
  }
  .services_list {
    display: flex;
    flex-wrap: wrap;

    .service_item {
      width: 50%;
      padding-top: 120px;
      padding-bottom: 85px;
      background-color: #0f613a;

      background-repeat: no-repeat;


      &:nth-child(odd) {
        text-align: right;
        background-position: 60% 50%;

        .service_data {
          padding-right: 50px;
        }

        .details_buttons {
          justify-content: flex-end;

          .order_form_link {
            order:3;
            margin-left: 30px;
          }
          .details {
            order:1;
          }
          .fa {
            order:2;
          }
        }
      }
      &:nth-child(even) {
        text-align: left;
        background-position: 40% 50%;

        .service_data {
          padding-left: 50px;
        }
        .details_buttons {
          justify-content: flex-start;

          .order_form_link {
            order:1;
            margin-right: 30px;
          }
          .details {
            order:2;
          }
          .fa {
            order:3;
          }
        }
      }

      &:nth-child(1){
        background-color: #0f613a;
      }
      &:nth-child(2){
        background-color: #0d6d3a;
      }
      &:nth-child(3){
        background-color: #287d3b;
      }
      &:nth-child(4){
        background-color: #358d3f;
      }
      &:nth-child(5){
        background-color: #369141;
      }
      &:nth-child(6){
        background-color: #61a43c;
      }

      .service_data {
        width: 100%;
        max-width: 480px;
        display: inline-block;
        box-sizing: border-box;

        h3.service_title {
          font-size:38px;
          line-height: 38px;
          color:#FFF;
          font-weight: 700;
          margin-bottom: 25px;
        }
        .content {
          font-size: 14px;
          color:#FFF;
          line-height: 24px;
          margin-bottom: 35px;

          p {
            font-size: 14px;
            color:#FFF;
            line-height: 24px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
        .details_buttons {
          display: flex;
          //justify-content: flex-end;
          align-items: center;

          .details {
            font-size:13px;
            color:#FFF;
            text-transform: uppercase;
            font-weight: 700;
            cursor: pointer;
            .transition(all 300ms ease-in-out);

            &:hover {
              .opacity(0.75);
              .transition(all 300ms ease-in-out);
            }
          }
          .fa {
            color:#deab22;
            font-size: 9px;
            margin-left: 7px;
            line-height: 21px;

          }

          .order_form_link {
            font-size: 16px;
            font-weight: 700;
            color:@yellow;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            background-color: rgba(0,0,0,0.1);
            .rounded(10px);
            padding: 16px 26px;
            line-height: 16px;
            display: block;
            .transition(all 300ms ease-in-out);

            &:hover {
              background-color: rgba(0,0,0,0.3);
              .transition(all 300ms ease-in-out);
            }
          }
        }
      }
    }
  }
}

.post-type-archive-services {
  .vbox-inline {
    margin-top: 100px;
    margin-bottom: 100px;
    .rounded(10px);
    -webkit-box-shadow: 10px 10px 69px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 69px -15px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 69px -15px rgba(0,0,0,0.75);
    overflow: hidden;
    overflow-y: auto;
    overflow-x: hidden;

    .service_content_popup {

      .latest_projects {
        margin: 0 90px 60px 90px;

        .service_projects_list {
          display: flex;
          justify-content: space-between;

          .project_item {
            padding-right: 20px;
            margin-right: 20px;
            border-right:1px solid #e5e5e5;
            width: 33.3%;
            padding-top: 10px;
            padding-bottom: 10px;

            .project_date {
              text-transform: uppercase;
              font-size: 9px;
              color:#939393;
              display: block;
            }
            .project_title_link {
              font-size: 14px;
              font-weight: 700;
              color:#2a2a2a;
              text-transform: uppercase;
              line-height: 18px;
              .transition(all 300ms ease-in-out);

              &:hover {
                .opacity(0.75);
                .transition(all 300ms ease-in-out);
              }
            }

            &:nth-child(3n){
              margin-right: 0;
              padding-right: 0;
              border-right: 0;
            }
          }
        }

        .top_projects_line {
          display: flex;
          align-items: center;
          margin-bottom: 55px;

          .box_title {
            font-size: 39px;
            color:#000;
            font-weight: 700;
            line-height: 39px;

            text-transform: uppercase;
          }
          .line {
            display: block;
            height: 1px;
            background: #ececec;
            flex-grow: 1;
            margin-left: 25px;
            margin-right: 25px;
            box-sizing: border-box;
          }
          .all_projects_link {

            color:#2c813c;
            font-size: 13px;
            text-transform: uppercase;
            font-weight: 700;

            .fa {
              color:@yellow;
              font-size: 8px;
              margin-left: 5px;
            }

            a {
              color:inherit;
              .transition(all 300ms ease-in-out);

              &:hover {
                .opacity(0.75);
                .transition(all 300ms ease-in-out);
              }
            }
          }
        }
      }

      .content_line {

        .service_content {
          padding: 70px 90px 60px 90px;
          color:#434343;
          font-size: 13px;
          line-height: 24px;

          p {
            color:#434343;
            font-size: 13px;
            line-height: 24px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }


      .top_line {
        background: #2c813c;
        padding: 115px 100px 50px 100px;
        box-sizing: border-box;
        position: relative;
        .rounded-corners(9px, 9px, 0, 0);
        overflow: hidden;

        .icon_box {
          position: absolute;
          top:0;
          right:0;
          margin-top: -20px;
          margin-right: -20px;
        }

        .buttons {
          display:flex;
          align-items: center;

          .order_button {
            color:#36624d;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;
            background: @yellow;
            .rounded(10px);
            display: block;
            padding: 16px 21px;
            -webkit-box-shadow: 2px 2px 13px -6px rgba(0,0,0,0.75);
            -moz-box-shadow: 2px 2px 13px -6px rgba(0,0,0,0.75);
            box-shadow: 2px 2px 13px -6px rgba(0,0,0,0.75);
            letter-spacing: 0.34em;

            &:hover {
              .opacity(0.75);
              .transition(all 300ms ease-in-out);
            }
          }

          .subtitle {
            border-left:1px solid rgba(0,0,0,0.1);
            margin-left: 20px;
            padding-left: 20px;
            color:#2c4230;
            font-size:14px;
            font-weight: 700;
            text-transform: uppercase;
            display: block;
          }
        }

        h2.title {
          width: 55%;
          font-size:68px;
          font-weight: 700;
          text-transform: uppercase;
          color:#FFFFFF;
          line-height: 76px;
          margin-bottom: 40px;
        }
      }
    }

  }
}

body.admin-bar .vbox-close {
  top:32px;
}



.order_template {
  padding-bottom: 70px;

  .order_contaner {
    display: flex;
    align-items: flex-start;


    .ordering_form {
      width: 50%;
      background: #2c813c;
      .rounded-corners(0,0,10px,0);
      text-align: right;

      .the_form_container {
        width: 100%;
        max-width: 480px;
        display: inline-block;
        text-align: left;
        padding: 55px 45px 45px 0;
        box-sizing: border-box;

        h3.form_service_title {
          color:#FFF;
          font-size: 39px;
          font-weight: 700;
          margin-bottom: 50px;
        }

        .field {
          margin-bottom: 10px;
        }
        .field_extra {
          position: relative;
          min-height: 60px;

          &:after {
            content:"";
            width: 1px;
            height: 60px;
            border-right:1px solid rgba(0,0,0,0.1);
            position: absolute;
            top:0;
            left:50%;
          }


          input[type="text"],input[type="email"] {
            width: 50%;
            float:left;

            &#contact-form-phone {
              border-bottom-right-radius: 0;
              border-top-right-radius: 0;
              -webkit-box-shadow: inset 0px 10px 9px -5px rgba(0,0,0,0.25);
              -moz-box-shadow: inset 0px 10px 9px -5px rgba(0,0,0,0.25);
              box-shadow: inset 0px 10px 9px -5px rgba(0,0,0,0.25);
            }
            &#contact-form-email {
              border-bottom-left-radius: 0;
              border-top-left-radius: 0;
              -webkit-box-shadow: inset 0px 10px 9px -5px rgba(0,0,0,0.25);
              -moz-box-shadow: inset 0px 10px 9px -5px rgba(0,0,0,0.25);
              box-shadow: inset 0px 10px 9px -5px rgba(0,0,0,0.25);
            }
          }
        }
      }
    }
    .services_pricing {
      width: 50%;
      text-align: left;

      .services_list {
        width: 100%;
        max-width: 480px;
        display: inline-block;
        text-align: left;
        padding: 55px 0 45px 45px;
        box-sizing: border-box;

        .service_price_item {
          border-bottom: 1px solid #e5e5e5;
          padding-bottom: 30px;
          padding-top: 30px;
          //margin-bottom: 30px;
          display: flex;
          align-items: flex-start;
          cursor: pointer;


          &.selected {
            -webkit-box-shadow: 5px 10px 56px -12px rgba(0,0,0,0.66);
            -moz-box-shadow: 5px 10px 56px -12px rgba(0,0,0,0.66);
            box-shadow: 5px 10px 56px -12px rgba(0,0,0,0.66);
            .rounded(10px);
            background: #FFF;
            border: 0;
            margin-left: -25px;
            margin-right: -25px;
            width: ~"calc(100% + 50px)";
            padding-right: 25px;
            padding-left: 25px;
            box-sizing: border-box;
            margin-top: -2px;
            position: relative;



            .before {
              width: 29px;
              height: 23px;
              display: block;
              background: url(images/close_order.png) left center;
              position: absolute;
              top:0;
              left:0;
              margin-top: 8px;
              margin-left: -29px;
              cursor: pointer;


              &:hover {
                .opacity(0.8);
                .transition(all 300ms ease-in-out);
              }
            }
          }

          .left_part {
            flex-grow: 1;
            padding-right: 40px;
            box-sizing: border-box;


            .service_title {
              font-size: 19px;
               color:#000;
              font-weight: 700;
              line-height: 19px;
              margin-bottom: 10px;
            }
            .subtitle {
              font-size: 12px;
              color:#898989;
              line-height: 16px;
              display: inline-block;
            }
          }
          .right_part {
            font-size: 19px;
            line-height: 14px;

            .currency,.the-price {
              color:#000;
              font-weight: 700;
            }
            .type-price {
              font-size: 14px;
              font-weight: 300;
            }
          }

        }
      }
    }
  }

  .top_desription_order {
    padding-top: 35px;
    padding-bottom: 35px;
    background: #272727;
    color:#FFF;

    p:last-child {
      margin-bottom: 0;
      color:#FFF;
    }
  }
}


.site_container .single_post .page_with_sidebar {
  padding: 80px 60px;
  display: flex;
  align-items: flex-start;

  .content_container {
    width: 67%;
    padding-right: 20px;
    box-sizing: border-box;
  }

  aside.sidebar {
    width: 33%;
    padding-left: 20px;
    box-sizing: border-box;

    a {
      color:inherit;
      .transition(all 300ms ease-in-out);

      &:hover {
        .opacity(0.75);
        .transition(all 300ms ease-in-out);
      }
    }

    ul {
      margin-left: 0;
      li {
        list-style: none;
        line-height: 16px;
        margin-bottom: 10px;

        &:before {
          background: url(images/li.png) top center no-repeat;
        }
      }
    }

    .aletheme-blog-widget,.aletheme-mostcommented-widget {
      .entry-thumb {
        margin-bottom: 10px;
      }
      h4.entry-title {
        font-size: 14px;
        margin-bottom: 5px;
      }
      .entry-meta {
        margin-bottom: 15px;
        color:#898989;
        font-size: 11px;
        display: block;
        text-transform: uppercase;
      }
    }

    .aletheme-about-widget {
      img {
        margin-bottom: 15px;
      }
    }

    #wp-calendar {
      width: 100%;
      caption {
        text-transform: uppercase;
      }

      td, th {
        padding: 5px 10px!important;
      }
    }

    h5.widget_title {
      margin-bottom: 15px;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    select {
      max-width: 100%;
    }
    .widget {
      margin-bottom: 30px;
    }

    form.search {

      #searchsubmit {
        margin-top: 10px;
        width: 100%;
        height: 60px;
        background: #ffde5a;
        color: #36624d;
        font-size: 16px;
        letter-spacing: 0.58em;
        font-weight: bold;
        text-transform: uppercase;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
      }
    }


  }
}

.not-found {
  min-height: 300px;
  text-align: center;


  p {
    text-align: center;
  }
}

/*CrossBrowser Fixes*/
@-moz-document url-prefix() {
  .contact_template .contact_blocks .form_container {
    padding: 141px 30px;
  }
}

.sticky {
  text-align: left;

  figure {
    background: #8eb95e!important;
  }
}
.gallery-caption {
  font-size: 12px;
}
.bypostauthor {
  font-size: 12px;
}

.footer_for_about {
  background-image: url(images/mask_footer.png);
  background-position: top center;
  background-repeat: no-repeat;
}

