@media (max-width: 1200px) {
  .slider_home_container ul.slides li.slider_item .image_container {
    background: none;
    width: auto;
    max-width: none;
    min-height: unset;
    display: inline-block;
  }
  .slider_home_container ul.slides li.slider_item {
    text-align: center;
  }

}

@media (max-width: 1024px) {
  .wrapper {
    width:96%;
  }
  .slider_home_container .slider_menu_navigation ul.menu-header li a,
  header.header_top .main_navigation .header_nav ul.menu-header li a {
    padding: 0 15px;
  }
  .slider_home_container ul.slides li.slider_item .image_container .content_slide_data .slide_data h2.slide_title {
    width: 100%;
  }
  .slider_home_container ul.slides li.slider_item .image_container .content_slide_data .slide_data .sub_title_slide {
    width: 100%;
  }
  .services_box .services_list .service_button {
    width: 16.666%;
    padding-top: 16.666%;
  }
  .services_box .services_list {
    width: 100%;
  }
  .services_box .service_description {
    width: 100%;
  }
  .services_box .service_center {
    min-width: unset;
    flex-wrap: wrap;
    width: 100%;
  }
  .services_box .service_left,.services_box .service_right {
    display: none;
  }
  .services_box .services_list .service_button .item_button .title_holder {
    font-size: 10px;
  }
  .services_box .service_description .item_service {
    width: 96%;
    margin: 50px auto;
  }
  .services_box .service_description .item_service .service_links {
    text-align: center;
  }
  .services_box .services_list .service_button .item_button .image_holder {
      max-width: 50px;
    max-height: 50px;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

@media (max-width: 870px) {
  footer.theme_footer .footer .top_footer .social_container {
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
  }
  footer.theme_footer .footer .top_footer .social_container .social_profiles {
    width: auto;
  }
  footer.theme_footer .footer .top_footer .social_container .social_share {
    width: auto;
  }
  footer.theme_footer .footer .top_footer .social_container {
    box-sizing: border-box;
  }
}

@media screen and (max-width: 782px) {
  .comments_section .comments_container > .comment, .comments_section .comments_container .pingback {
    margin: 0 30px;
    margin-bottom: 30px;
  }
  .slider_home_container .slider_menu_navigation ul.menu-header,
  header.header_top .main_navigation .header_nav ul.menu-header {
    display: none;
  }
  select.mobilemenu {
    display: inline-block;
  }
  .header_nav {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    select {
      min-width: 200px;
    }
  }
  header.header_top .main-line .top_line {
    flex-wrap: wrap;
    align-content: space-around;
  }
  header.header_top .main-line .top_item.logo_box {
    order: 1;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  header.header_top .main-line .top_item.phone_box {
    width: 50%;
    order:2;
    padding-bottom: 20px;
  }
  header.header_top .main-line .top_item.search_box {
    width: 50%;
    order:3;
    padding-bottom: 20px;
  }
  .slider_home_container .main_top_slider .flex-control-nav {
    margin-bottom: 20px;
  }
  .slider_home_container ul.slides li.slider_item {
    padding-bottom: 80px;
    padding-top: 60px;
  }
  .slider_home_container ul.slides li.slider_item .image_container .content_slide_data .slide_data {
    padding: 0;
    width: 96%;
  }
  .slider_home_container {
    overflow: hidden;
  }
  .gardener_order_data {
    overflow: hidden;
  }
  .order_form .services_categories li {
    font-size: 14px;
  }
  .order_form_container .gardeners_data {
    width: 50%;
    order:1;
  }
  .order_form_container .projects_data {
    width: 50%;
    order:2;
  }
  .order_form_container .order_form_data {
    width: 100%;
    order:0;
  }
  .order_form_container {
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .services_box .services_list .service_button {
    width: 33.33%;
    padding-top: 33.33%;
  }
  .partners_box {
    margin-top: 0;
    padding-top: 0;
  }
  footer.theme_footer .footer .bottom_footer .contacts_footer_box .footer_logo {
    width: 100%;
    padding: 0;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  footer.theme_footer .footer .bottom_footer .contacts_footer_box .footer_info {
    width: 100%;
    padding: 0;
    flex-wrap: wrap;
    text-align: center;
  }
  footer.theme_footer .footer .bottom_footer .contacts_footer_box .footer_info .item_contacts {
    width: 100%;
    padding: 0;
    border: 0;
  }
  footer.theme_footer .footer .bottom_footer .contacts_footer_box .footer_info .item_address {
    width: 100%;
    padding: 0;
    border: 0;
  }
  footer.theme_footer .footer .bottom_footer .contacts_footer_box .footer_info .item_copyrights {
    width: 100%;
    padding: 0;
    border: 0;
  }
  footer.theme_footer .footer .bottom_footer .contacts_footer_box {
    flex-wrap: wrap;
  }
  .page_services_archive .services_list .service_item {
    width: 100%;

  }
  .page_services_archive .services_list .service_item:nth-child(even) .service_data {
    padding-left: 0;
  }
  .page_services_archive .services_list .service_item:nth-child(odd) .service_data {
    padding-right: 0;
  }
  .page_services_archive .services_list .service_item .service_data {
    width: 96%;
  }
  .page_services_archive .services_list .service_item:nth-child(odd),
  .page_services_archive .services_list .service_item:nth-child(even) {
    text-align: center;
  }
  .page_services_archive .services_list .service_item .service_data .details_buttons {
    justify-content: center;
  }
  .post-type-archive-services .vbox-inline .service_content_popup .top_line .icon_box {
    display: none;
  }
  .post-type-archive-services .vbox-inline .service_content_popup .top_line h2.title {
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .post-type-archive-services .vbox-inline .service_content_popup .top_line .buttons {
    flex-wrap: wrap;

    a {
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
  }
  .post-type-archive-services .vbox-inline .service_content_popup .content_line .service_content {
    padding: 20px;
  }
  .post-type-archive-services .vbox-inline .service_content_popup .latest_projects {
    margin: 20px;
  }
  .post-type-archive-services .vbox-inline .service_content_popup .top_line .buttons .subtitle {
    border:0;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .order_template .order_contaner .ordering_form {
    width: 100%;
  }
  .order_template .order_contaner .services_pricing {
    width: 100%;
  }
  .order_template .order_contaner {
    flex-wrap: wrap;
  }
  .order_template .order_contaner .ordering_form .the_form_container,
  .order_template .order_contaner .services_pricing .services_list {
    max-width: unset;
    padding-right: 20px;
    padding-left: 20px;
  }
  .about_template .about_author .have_image {
    margin-right: 230px;
  }
  .about_template .about_author .image_box {
    max-width: 200px;

    img {
      max-width: 100%;
      height: auto;
    }
  }
  .about_template .additional_info_box .top_info .right_info {
    width: 100%;
    float: none;
    text-align: center;
  }
  .about_template .additional_info_box .top_info .left_info {
   width: 100%;
    float: none;
  }
  .about_template .additional_info_box .top_info {
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  .about_template .additional_info_box .top_info .left_info h2 {
    margin: 0;
    text-align: center;
    margin-bottom: 50px;
  }
  .about_template .about_author .data_box {
    margin-bottom: 130px;
  }
  .about_template .additional_info_box .bottom_info .left_info {
    margin: 0;
    width: 100%;
    text-align: center;
  }
  .about_template .additional_info_box .bottom_info .right_info {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  .about_template .additional_info_box .bottom_info {
    flex-wrap: wrap;
  }
  .about_template .skills_info_box .item_skills {
    width: 100%;
    margin-bottom: 100px;
    text-align: center;
  }
  .about_template .skills_info_box {
    flex-wrap: wrap;

  }
  .about_template .skills_info_box .item_skills .skills_icon {
    margin-left: 0;
  }
  .about_template .video_info_box .video_section {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .about_template .video_info_box .partner_title_section{
    width: 96%;
    margin: 0 auto;
    padding: 0;
  }
  .about_template .video_info_box .container_data_video {
    flex-wrap: wrap;
  }
  .about_template .video_info_box .partner_title_section .partners_box_descr {
    max-width: unset;
  }
  .about_template .video_info_box .partners_list .partner_item {
    margin:0 10px
  }
  .site_container img {
    max-width: 100%;
  }
  .page_gardeners_archive .staff_members .member .member_photo {
    width: 50%;
  }
  .page_gardeners_archive .staff_members .member .member_names {
    width: 50%;
  }
  .page_gardeners_archive .staff_members .member .member_description {
    width: 100%;
  }
  .page_gardeners_archive .staff_members .member {
    flex-wrap: wrap;
  }
  .page_gardeners_archive .gardener_members .member_gardener {
    width: 50%;
  }
  .posts_list article.topimg figure figcaption .post_data h2.post_title {
    font-size: 20px;
    line-height: 24px;
  }
  .posts_list article.topimg figure figcaption .post_data {
    width: 90%;
  }
  .posts_list article.topimg figure figcaption .post_data .post_info .comments_count,
  .posts_list article.topimg figure figcaption .post_data .post_info .date,
  .posts_list article.topimg figure figcaption .post_data span.subtitle {
    color:#FFF;
  }
  .posts_list .grid .grid-sizer, .posts_list .grid .grid-item {
    width: 100%;
  }
  .posts_list .grid .gutter-sizer {
    width: 0;
  }
  .posts_list article.blog-item .post_data h2.post_title {
    font-size: 20px;
    line-height: 30px;
  }
  .site_container .single_post .post_image {
    max-width: unset;
    width: 100%;
  }
  .site_container .single_post .post_title_section {
    padding: 30px 50px;
  }
  .site_container .single_post .post_title_section h3.post_title {
    font-size: 20px;
    line-height: 30px;
  }
  .site_container .single_post .post_content_section {
    padding: 30px 40px;
  }
  .comments_section .leave-a-comment .form_comment_box {
    margin: 0 30px;
  }
  .projects_list .grid_projects .grid-sizer a span.hover_icon, .projects_list .grid_projects .grid-projects-item a span.hover_icon  {
    background: none;
  }
  .projects_list .grid_projects .grid-sizer, .projects_list .grid_projects .grid-projects-item {
    width: 100%;

    img {
      width: 100%;
      max-width: 100%;
    }
  }
  .projects_list .projects_grid_container {
    padding-left: 30px;
  }
  .contact_template .contact_blocks {
    flex-wrap: wrap;
  }
  .contact_template .contact_blocks .text_info {
    width: 100%;
    margin: 0;
    padding: 30px;
  }
  .contact_template .contact_blocks .form_container {
    width: 100%;
    margin: 0;
    padding: 30px;
    background: #1c5d28;
  }
  .contact_template .contact_blocks .map_container {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .contact_template .contact_blocks .map_container .map {
    width: 100%;
  }
  .contact_blocks {
    width: 100%!important;
  }
  .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    width: 50%!important;
  }
  .woocommerce aside.sidebar {
    width: 100%;
  }
  .woocommerce .col-9 {
    width: 100%;
  }
  .woocommerce div.product {
    margin-right: 0!important;
  }
}

@media (max-width: 500px) {
  .post_info {
    flex-direction: column;
  }
  .site_container .single_post .post_title_section .post_info .post_category, .site_container .single_post .post_title_section .post_info .post_comments_count, .site_container .single_post .post_title_section .post_info .post_date {
    width: 100%;
    margin-bottom: 15px;
    text-align: center!important;
    border:0!important;
    box-sizing: border-box;
  }
  .breadcrumbs {
    text-align: center;

    .current {
      display: block;
    }
  }

  header.header_top .main-line .top_item.phone_box,
  header.header_top .main-line .top_item.search_box{
    width: 100%;
    text-align: center;
  }
  .slider_home_container ul.slides li.slider_item .image_container .content_slide_data .slide_data h2.slide_title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .slider_home_container ul.slides li.slider_item .image_container .content_slide_data .slide_data .sub_title_slide .slide_icon {
    display: none;
  }
  .slider_home_container ul.slides li.slider_item .image_container .content_slide_data .slide_data .sub_title_slide {
    padding-top: 10px;
  }
  .order_form_container .gardeners_data {
    width: 100%;
    order:1;
  }
  .order_form_container .projects_data {
    width: 100%;
    order:2;
  }
  .order_form_container .projects_data .projects_container {
    margin-left: 0;
  }
  .partners_box .partners_box_elements .partners_slider_container {
    width: 100%;

  }
  .partners_box .partners_box_elements .partners_descriptions {
    width: 100%;
  }
  .partners_box .partners_box_elements {
    flex-wrap: wrap;
  }
  .partners_box .partners_box_elements .partners_slider_container .slide_partner_item .partner_slide_title {
    text-align: center;
  }
  .partners_box .partners_box_elements .partners_slider_container .slide_partner_item .partner_slide_subtitle {
    text-align: center;
  }
  .portfolio_box .portfolio_slider .portfolio_item_slide figure figcaption h5.project_title {
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 10px;
  }
  .portfolio_box .portfolio_slider .portfolio_item_slide figure figcaption .portfolio_slide_info {
    margin-bottom: 10px;
    font-size: 12px;
  }
  .portfolio_box .portfolio_slider .portfolio_item_slide figure figcaption .portfolio_subtitle {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .about_template .video_info_box .partners_list .partner_item {
    font-size: 5vw;
  }
  .about_template .about_author .image_box {
    float: none;
    width: 100%;

  }
  .about_template .about_author .data_box {
    width: 100%;
  }
  .about_template .about_author .image_box {
    max-width: 370px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}

@media (max-width: 400px) {
  .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    width: 100%!important;
  }
}